@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home .title {
  /* animation: fadeIn 1s 1 1 ease-in-out; */
  animation: 1s fadeIn 1s;
  animation-fill-mode: both;
}

.icon {
  max-width: 14px;
  color: rgb(192, 192, 192);
  transform: translateY(3px) rotate(-15deg);
}

.home .description {
  animation: 1s fadeIn 2s;
  animation-fill-mode: both;
}

.home .categoryList {
  animation: 1s fadeIn 3s;
  animation-fill-mode: both;
}

.card {
  background-color: antiquewhite;
}

.body {
  box-sizing: border-box;
}

.gallery {
  margin-top: 40px;
}

.all {
  font-family: "Inter", "system-ui";
  max-width: 1250px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 100px;
}

.container {
  max-width: 1210px;
  margin: 0px 20px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rowColumns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.rowColumns > * {
  width: 50%;
}

.title {
  padding-bottom: 0px;
  margin: 0px;
}

.categoryList {
  padding: 0px;
  /* margin: 0px; */
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  /* max-width: 50%; */
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row > * {
    width: 100%;
  }

  .categoryList {
    border-left: none;
    padding-left: 0px;
  }
}
.categoryLink {
  margin: 5px 0px;
  padding: 20px;
  min-height: 42px;
  list-style-type: none;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
  color: rgb(37, 37, 37);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
}

.categoryLink:hover {
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}

.categoryLink > svg {
  max-width: 20px;
  width: 100%;
  max-height: 20px;
  height: 100%;
  margin-right: 20px;
  color: rgb(177, 177, 177);
  transition: color 0.2s ease-in-out;
}

.categoryLink:hover > svg {
  color: rgb(63, 63, 63);
}

.categoryLabels {
  display: flex;
  flex-direction: column;
}

.categoryTitle {
}

.row {
  display: flex;
  flex-direction: row;
}

.categoryShortDescription {
  transform: scaleY(0);
  /* transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, margin-; */
  transition-property: opacity, transform, margin-top, max-height;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  /* transition: opacity 0.2s ease-in-out; */
  opacity: 0;
  max-height: 0px;
  margin-top: 0px;
  font-size: 0.9rem;
  color: rgb(99, 99, 99);
  font-weight: 300;
  margin-top: 0px;
}

.categoryLink:hover .categoryShortDescription {
  opacity: 1;
  transform: scaleY(1);
  margin-top: 5px;
  max-height: 18px; /* change this if font size changes */
}

.description {
  color: rgb(99, 99, 99);
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: 300;
  /* max-width: 50%; */
  /* opacity: 0; */
}

.shiftDown {
  margin-left: 10px;
  transform: translateY(5px);
}

.script {
  font-weight: 400;
}

.footer {
  color: rgb(140, 140, 140);
  font-size: 15px;
  margin-top: 40px;
  font-weight: 300;
}

.categoryEnd {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  position: relative;
  text-align: right;
}

.categoryPopulation {
  color: rgb(156, 156, 156);
  font-size: 0.9rem;
  /* transition-property: opacity, transform, width, content;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out; */
  transform: scaleX(1);
  opacity: 1;
  width: auto;
  animation: popIn 0.3s ease-in-out;
  animation-fill-mode: both;
}

@keyframes popIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.categoryLink:hover .categoryPopulation {
  /* opacity: 0; */
  /* transform: scaleX(0); */
  /* width: 0; */
  animation: popOut 0.3s ease-in-out;
  animation-fill-mode: both;
}

.categoryCTA {
  position: absolute;
  right: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0;
  /* transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out; */
  /* width: 0; */
  font-size: 0.9rem;
  color: rgb(99, 99, 99);
  animation: ctaOut 0.3s ease-in-out;
  animation-fill-mode: both;
}

@keyframes ctaIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ctaOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.categoryCTA > svg {
  width: 16px;
  height: 16px;
  color: rgb(99, 99, 99);
  margin-left: 5px;
}

.categoryLink:hover .categoryCTA {
  /* transform: scaleX(1); */

  /* opacity: 1; */
  /* width: auto; */
  animation: ctaIn 0.3s ease-in-out;
  animation-fill-mode: both;
}

.previewSidebar {
  /* position: relative; */
  display: flex;
  width: calc(50% - 50px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  max-height: 100%;
  margin-top: 10%;
  padding-left: 50px;
  align-self: center;
}

.previewSidebar > * {
  margin-top: -120px;
  /* position: relative; */
  transition: all 0.2s ease-in-out;
}

.previewSidebar > * > * > img {
  width: 70%;
}

.previewSidebar > *:nth-child(1) {
  /* top: 10%;
  left: 0px; */
  margin-left: 10%;
  z-index: 100;
}
.previewSidebar > *:nth-child(2) {
  margin-right: 10%;
  z-index: 90;
  /* top: 20%;
  left: 0px; */
}
.previewSidebar > *:nth-child(3) {
  margin-left: 7%;
  z-index: 80;
  /* top: 0%;
  left: 100%; */
}
