.ButtonToTop {
  font-size: 14px;
  background-color: white;
  color: rgb(156, 156, 156);
  text-decoration: none;
  align-items: center;
  margin-bottom: 10px;
  margin-right: auto;
  padding: 5px 10px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 5px;
  border: unset;
}

.ButtonToTop:active, .ButtonToTop:visited {
  color: rgb(156, 156, 156);
}

.ButtonToTop:hover {
  background-color: rgb(236, 236, 236);
  color: rgb(116, 116, 116);
  cursor: pointer;
}

.ButtonToTop > svg {
  margin-right: 6px;
  margin-bottom: -2px;
}